gowin_led_blink/impl/
*.user
*.vo
*.mod
gowin_arm_m3_hello_world/firmware_project/Debug/

gowin_arm_m3_hello_world/fpga_project/impl/

gowin_arm_m3_hello_world/fpga_project/src/ip/gowin_pllvr_160_40/gowin_pllvr_160_40_tmp.v

gowin_arm_m3_hello_world/fpga_project/src/ip/gowin_pllvr_24/gowin_pllvr_24_tmp.v

gowin_arm_m3_hello_world/fpga_project/src/ip/gowin_empu/temp/
gowin_arm_m3_hello_world/fpga_project/src/ip/gowin_empu/gowin_empu_tmp.v
