/*
    author: sergey boldenko
    data  : 18.07.2022
*/

IO_LOC  "reset_n_i"  15;
IO_PORT "reset_n_i"  PULL_MODE=UP;

IO_LOC  "clk_i"      45;
IO_PORT "clk_i"      PULL_MODE=UP;

IO_LOC  "uart_txd_o" 44;
IO_PORT "uart_txd_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC  "uart_rxd_i" 46;
IO_PORT "uart_rxd_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
